body{
    background-color: rgb(255, 174, 0);
    text-align: center;

}
h1{
    color: white;
    font-size: 50px;
    text-align: center;

}

p{
    margin-top: 50px;

    font-size: 70px;
    color: white;
}
#Stop{
    margin-left: 50px;
    margin-right: 50px;
}

button{
    width: 220px;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 12px;
    font-size: 23px;
}